body {
    background-image: url("../images/pietro-de-grandi-T7K4aEPoGGk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;
    align-content: center;
    font-family: sans-serif;
    margin: 0; /*fixes right gap on webpage*/
}

#content {
    height: 100vh;
}

#loc_form_section {
    background-color: rgba(63, 93, 143, 0.6);
    text-align: center;
    width: fit-content;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;

    border-radius: 5px;
}

#location_input_form {
    display: flex;
    align-items: center;
}
#location_input{
    padding: 5px;
    border: none;
}
#location_input_label {
    /* padding-top: 2px; */
    margin-right: 5px;
}
#submit_location_button {
    margin-left: 5px; 
    background-color:rgba(111, 228, 88, 0.45);
    border: none;
    border-radius: 5px;
}
#submit_location_button:hover {
    background-color: rgba(179, 255, 88, 0.5);
}

#weather_display_section {
    background-color:rgba(63, 93, 143, 0.7);

    width: 40%;
    margin-top: 10vh; 

    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    border-radius: 15px;

    color: white;
}
@media screen and (max-width: 800px){
    #weather_display_section {
        width: 60%;
        font-size: small;
    }
}
@media screen and (max-width: 450px){
    #weather_display_section {
        width: 70%;
        font-size: smaller;
    }
}
/*This centers the contents within the weather display section*/
#weather_display_contents {
    /* display: block;  */
    width: fit-content;
    height: fit-content;

    margin: auto;
}

#weather_location {
   text-align: center;
}

/*This centers the weather image and content details*/ 
#weather_display_content_details{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#weather_img {
    display: block; /*Used to center img*/

    margin-left: auto;
    margin-right: auto;
}
#footer_section {
    background-color: rgba(63, 93, 143, 0.6);
    width: 100vw;
    position: fixed;
    bottom: 0;

    padding-bottom: 15px;
}
@media screen and (max-height:915px) {
    #footer_section {
        position: static;
        margin-top: 500px;
    }
}

#footer_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer_title_desc_col, #footer_links_col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;

    color: white;
}

#footer_appTitle{
    margin-bottom: 0px;
}

#footer_links_col {
    margin-top: 18.72px;
    align-items: center;
}

#footer_github_link_button {
    background-color: rgba(111, 228, 88, 0.45);
    color: white;
    width: fit-content;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;

    border: none;
    border-radius: 5px;
}

#footer_github_link_button:hover {
    background-color: rgba(179, 255, 88, 0.5);
}

#github_link {
    color: white;
    text-decoration: none;
}

#odin_link{
    color:rgba(111, 228, 88, 0.45);
}